
{# get events by taxonomy #}
{% set events =
    page.collection({
      'items': {
        '@taxonomy': {
          'type': 'event',
        }
      },
      'dateRange': {
        'start': datetools.today|date('m/d/Y'),
        'end': datetools.parseDate('+1 month')|date('m/d/Y')
      },
      'order': {
        'by': 'date',
        'dir': 'asc'
      },
      'limit': 10,
      'pagination': true
    })
%}

<aside class="events-sidebar">
  <ul class="events-list">
  {% set current_header = null %}
  {% for event in events %}
      {% if date_header %}
      <li class="event-day">{{ page.header.event.start|date("d") }}. {{ config.plugins.events.date_format.translate ? 'MONTHS_OF_THE_YEAR'|ta(page.header.event.start|date('n') - 1) : page.header.event.start|date('M') }}</li>
      <li class="event-dow">{{ config.plugins.events.date_format.translate ? 'DAYS_OF_THE_WEEK'|ta(page.header.event.start|date('j') - 1) : page.header.event.start|date('l') }}</li>
      {% endif %}
      <li>
          <time datetime="{{ event.header.event.start|date("c") }}">{{ event.header.event.start|date('G:i')}}</time>
          <a href="{{ event.url }}" class="u-url p-name">{{ event.title }}</a>
      </li>
      {% set current_header = event.header.event.start|date('F d') %}
  {% endfor %}
  </ul>
</aside>
